.cards-col {
  margin-bottom: 16px;

  margin-top: 16px;
}
.cards-row {
  margin-top: 80px;
}
.cards-card {
  height: 200px;
}

.cards-cover {
  width: 100%;
  height: 24px;
}
.cover-archive {
  background-color: #40748e;
}

.cover-library {
  background-color: #a9483e;
}

.cover-museum {
  background-color: #c9a978;
}

.cover-special {
  background-color: #876479;
}
